/* Estilização da seção de depoimentos */
section#depoimentos-secao {
    position: relative;
    padding: 40px 20px;
    margin: 0 auto;
    background-color: var(--branco);
}

.title-dep h1{
    text-align: center;
    font-family: "Kanit", sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    color: var(--preto);
}

/* Estilização dos botôes do carousel */
#depoimentos-secao .carousel-button {
    position: absolute;
    top: calc(50% - 18px);

    cursor: pointer;
    height: 36px;
    width: 36px;
    background-color: rgba(200, 200, 200, .5);
    color: rgba(0, 0, 0, .5);
    font-size: 30px;
    border: none;
    border-radius: 50%;
    transition: all 150ms ease-in-out;
}

#depoimentos-secao .carousel-button:hover {
    top: calc(50% - 20px);
    height: 40px;
    width: 40px;
    background-color: rgba(200, 200, 200, .9);
    color: var(--preto);
    font-size: 35px;
}

/* Posicionamento dos botões do carousel */
#depoimentos-secao #anterior {
    left: 5%;
}

#depoimentos-secao #proximo {
    right: 5%;
}

/* Estilização da div onde estarão os depoimentos*/
#depoimentos {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

/* Estilização dos cards de depoimento */
.depoimento {
    flex-shrink: none;
    flex-grow: none;
    scroll-behavior: smooth;
    padding: 30px;
    min-height: 360px;
    min-width: 320px;
    border-radius: 10px;
}

/* Colorização dos cards de depoimento */
.depoimento:nth-child(3n + 1) {
    background-color: #ff3131;
}

.depoimento:nth-child(3n + 2) {
    background-color: #EF0101;
}

.depoimento:nth-child(3n + 3) {
    background-color: #BE0000;
}

/* Perfil da pessoa que depôs */
.perfil-depoimento {
    margin-bottom: 31px;
    display: grid;
    grid-template-rows: 29px 21px;
    grid-template-columns: 50px 215px;
    column-gap: 15px;
}

/* Imagem da pessoa que depôs */
.imagem-depoimento {
    grid-row: 1 / 3;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: gray;
}

/* Nome da pessoa que depôs */
.nome-depoimento {
    color: var(--branco);
    font-size: 20px;
    font-weight: 600;
}

/* Instagram da pessoa que depôs */
.instagram-depoimento {
    color: #c6c6c6;
    font-size: 14px;
    font-weight: 500;
}

/* Texto do depoimento */
.comentario-depoimento {
    color: var(--branco);
    font-size: 16px;
    font-weight: 500;

    /* Código para que o texto corte na 8a linha e termine com reticências*/
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Media query para ajustar as propriedades vistas anteriormente para celular*/
@media screen and (max-width: 620px) {
    section#depoimentos-secao {
        padding: 20px 10px 20px 10px;
    }

    #depoimentos-secao button#anterior {
        width: 50px;
        height: 50px;
        left: 0;
    }

    #depoimentos-secao button#proximo {
        width: 50px;
        height: 50px;
        right: 0;
    }

    #depoimentos-secao div#depoimentos {
        max-width: 300px;
        gap: 57.5px;
    }

    .depoimento {
        min-width: 100%;
        max-width: 300px
    }
}

/* Media query para ajustar as propriedades vistas anteriormente para telas intermediárias*/
@media screen and (min-width: 621px) and (max-width: 750px) {
    #depoimentos-secao {
        min-width: 600px;
        padding: 0;
    }

    #depoimentos {
        width: 500px;
    }

    .depoimento {
        min-width: 250px;
        max-width: 250px;
    }

    .nome-depoimento {
        font-size: 16px;
    }
}

/* Media query para ajustar as propriedades vistas anteriormente para tablets*/
@media screen and (min-width: 751px) and (max-width: 1100px) {
    section#depoimentos-secao {
        padding: 50px 0;
        min-width: 72px;
    }

    #depoimentos-secao button#anterior {
        left: 0;
    }

    #depoimentos-secao button#proximo {
        right: 0;
    }

    #depoimentos {
        min-width: 700px;
        max-width: 700px;
        gap: 20px;
    }

    .perfil-depoimento {
        grid-template-rows: 17px 16px;
        gap: 7px;
    }

    .depoimento {
        min-width: 220px;
        max-width: 220px;
    }

    .nome-depoimento {
        font-size: 15px;
    }
}